---
import MainLayout from "src/layouts/MainLayout.astro";
const TITTLE = "100 DESTINATIONS";
---

<MainLayout title={TITTLE}>
  <place-component class="main-body">
    <div class="element-ctn ctn-left">
      <div class="main-card">
        <div class="place-image">
          <img src="/images/places/image.webp" id="placeImg" alt="continent" />
        </div>
        <div class="data-ctn" id="placesScroll"></div>
      </div>
    </div>
    <div class="element-ctn">
      <div class="card-main-ctn" id="selectorCityCtn"></div>
      <div class="img-ctn">
        <img src="" id="continentImg" alt="continent" />
      </div>
    </div>
  </place-component>
</MainLayout>

<style>
  .main-body {
    display: flex;
    height: 100%;
    flex-direction: row;
  }
  .element-ctn {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .ctn-left {
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .main-card {
    display: flex;
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 60px;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3rem;
  }
  .place-image {
    flex: 1;
    width: 100%;
    background-color: black;
    border-radius: 60px;
    overflow: hidden;
    position: relative;
  }
  #placeImg {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    object-fit: contain;
    transform: translate(-50%, -50%);
  }
  .data-ctn {
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
  }

  .accordion-container {
    border: 2px solid red;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  global(.accordion-item) {
    background-color: #8e44ad;
    color: white;
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  global(.accordion-item[open]) {
    background-color: #8e44ad;
  }

  .place--image,
  .data--ctn {
    display: flex;
  }
  .card-main-ctn {
    display: flex;
    height: 15%;
    width: 100%;
  }
  .img-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  #continentImg {
    background-color: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>

<script>
  import "@utils/PlaceWComponent";
</script>
