html {
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;;
    color: white;
    font-size: 62.5%;
}

body{
    margin:0 auto;
    padding:0;
}

/* @media only screen and (max-width:600px) {
    html {
        font-size:1px;
    }
} */
@keyframes hide--text {
    0% {
        opacity: 0;
        /* background-color: rgba(255, 255, 255, 0); */
    }
    50% {
        opacity: 0.5;
        /* background-color: rgb(255, 255, 255, 0.3); */
    }
    100% {
        opacity: 1;
        /* background-color: rgb(255, 255, 255, 0.5); */
    }
}

@keyframes small--bg {
    0% {
        background-size: 50%;
        /* opacity: 1; */
    }
    25% {
        background-size: 113%;
        /* opacity: 0.9; */

    }
    50% {
        background-size: 126%;
        /* opacity: 0.8; */
    }
    75% {
        background-size: 139%;
        /* opacity: 0.6; */
    }
    100% {
        background-size: 50%;
        /* opacity: 0.5; */
    }
}
