---
import TitleComponent from "src/components/TitleComponent.astro";
import Layout from "../layouts/Layout.astro";
import BtnComponent from "src/components/BtnComponent.astro";
//TODO: Check it out why the old/forwards doesn't work when I go to some page
// because this fail in default or custom animation and give a bad UI experience
// const fadeAnimation = {
//     old:{
//         name:'hide--text',
//         duration:'0.5s',
//         easing:'ease-in',
//         direction:'reverse',
//         fillMode:"forwards"
        
//     },
//     new:{
//         name:"hide--text",
//         duration:"0.5s",
//         easing:"ease-in-out",
//     }
// }
// const fadeAnimations = {
//     forwards: fadeAnimation,
//     backwards: fadeAnimation
// }

// const bgAnimations = {
//     old:{
//         name:"small--bg",
//         duration:"0.5s",
//         easing:"ease-in",
//         direction:"reverse"
//     },
//     new:{
//         name:"small--bg",
//         duration:"0.5s",
//         easing:"ease-in-out",
//     }
// }
// const bgAnimate = {
//     forwards:bgAnimations,
//     backwards:bgAnimations
// }

---

<Layout title="main page">
  <body>
    <div 
        class="img--background"
        transition:name="bgTransition"
        transition:animate="slide"
    >
        <div 
        class="main--block"
        transition:name="fadeTransition"
        transition:animate="slide"
        >
            <TitleComponent fontSize={10}/>
            <div class="btn--redirection">
                <BtnComponent href="/worldMap/" text="Start Exploring"/>
            </div>
        </div>
    </div>
  </body>
</Layout>

<style>
    .img--background{
        position: relative;
        background-image: url("/src/assets/svg/FullMap.svg");
        background-size: 185%;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .main--block{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.5);
        flex-direction: column;
    }

</style>

