---
import Layout from "../layouts/Layout.astro";
// import { Image } from "astro:assets";
// import backgroundMap from '@images/temp-img.png';
---

<Layout title="main page">
  <body>
    <div class="img--background">
    <div class="main--block">
        <h1 class="title-font">
            <span class="hundred--style">100</span> 
            <span class="title--text">
                DREAM<br/>DESTINATIONS
            </span>
            
        </h1>
    </div>
    </div>
  </body>
</Layout>

<style>
    .img--background{
        position: relative;
        background-image: url("/images/temp-img.png");
        background-size: 150%;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .main--block{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.5);
    }
    .title-font {
        display: flex;
        align-items: center;
        font-size: 10rem;
        color:white;
    }
    .hundred--style{
        font-size: 2em;
        line-height: 1;
    }
    
    @media screen and (max-width:1200px){
        .title-font{
            font-size:8rem
        }
    }
    @media screen and (max-width:900px){
        .title-font{
            font-size:4.5rem
        }
    }
</style>