---
import TitleComponent from "src/components/TitleComponent.astro";
import Layout from "../layouts/Layout.astro";
import FullMapImg from "@assets/svg/FullMap.webp";
import indexStyles from "./index.module.css";
import {
  IndexLayoutAnimation,
  TextAnimationMix,
  // TextAnimationUpper,
} from "src/utils/transitions";
import BtnContinent from "src/components/BtnContinent.astro";
---

<Layout title="100 dream destinations by Anell">
  <div class={indexStyles["img-container"]}>
    <img
      class={indexStyles["img-map"]}
      src={FullMapImg.src}
      alt="World map background"
      transition:animate={IndexLayoutAnimation}
    />
    <div class={indexStyles["main-block"]}>
      <TitleComponent
        fontSize={10}
        transitionAnimate={TextAnimationMix}
        transitionName="titleText"
      />
      <BtnContinent href="continents/" text="Start Exploring" />
    </div>
  </div>
</Layout>
