---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"a"> {
  href: string;
  text: string;
  keyAbbr?: string;
}
import { generateUrl } from "../utils/urlGenerator";
const { href, text, keyAbbr } = Astro.props;
const generatedHref = generateUrl(href);
---

<a
  class="btn--button"
  href={generatedHref}
  data-continent-abbr={keyAbbr}
  is="btn-continent-extend"><span class="btn--text">{text}</span></a
>

<style>
  .btn--button {
    cursor: pointer;
    display: flex;
    border-radius: 10rem;
    border-width: 0.1rem;
    border-color: white;
    padding: 0.2rem 3rem;
    text-decoration: none;
    color: white;
    border-style: solid;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
  .btn--button:hover {
    background-color: #add8e6; /* Light blue */
    border-color: #0000cd; /* Dark blue */
  }
  .btn--text {
    font-size: 3rem;
    white-space: nowrap;
  }
</style>
