---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"a"> {
  href: string;
  text: string;
  keyAbbr: string;
}
const { href, text, keyAbbr } = Astro.props;
---

<btn-continent-web-component data-continent-abbr={keyAbbr}>
  <a class="btn--button" href={href}><span class="btn--text">{text}</span></a>
</btn-continent-web-component>

<style>
  .btn--button {
    cursor: pointer;
    display: flex;
    border-radius: 10rem;
    border-width: 0.1rem;
    border-color: white;
    padding: 0.2rem 3rem;
    text-decoration: none;
    color: white;
    border-style: solid;
    align-items: center;
    vertical-align: middle;
  }
  .btn--text {
    font-size: 3rem;
    white-space: nowrap;
  }
</style>
